header {
            padding: 20px;
            margin-bottom: 30px;
            background-color: #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }

        .note {
            padding: 15px;
            margin-top: 20px;
            margin-bottom: 20px 0;
            background-color: #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }

        footer {
            padding: 20px;
            margin-top: 30px;
            background-color: #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);

        }