
header {
    background-color: #ffffff;
    padding: 20px 0;
    margin-bottom: 30px;
}

header h1 {
    font-size: 5rem;
    text-align: center;
    font-weight: 600;
}
p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    margin-left: 20px;
    text-align: center;
}

nav a {
    color: rgb(13, 0, 255);
    text-align: center;
    text-decoration-line: underline;
    font-weight: 500;
    transition: color 0.3s;
}
/* Hover effect for navigation links */
nav a:hover {
    color: #000000;
}

/* Using classes so all the images appears organized in a grid*/
.gallery {
    margin-top: 40px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0; 
}

.gallery-item {
    position: relative;
    overflow: hidden;
    height: 200px; 
}

.gallery-item img,
.gallery-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.video-time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.8rem;
}